<div class=" mt-6 width:10/12">
        <h1 class="text-2xl font-bold mb-4 space-x-6 text-center">Search Users / Repositories / Issues From Github</h1>
        <div class="flex justify-center">
            <form (submit)="repos(key.value)">
                <input required type="text" #key name="keyword" id="keyword" placeholder="Search Users" class="w-[500px] p-2 mb-4 border border-gray-300 rounded ">
                <button type="submit" class="bg-gray-500 text-white h-[40px] w-[60px] ml-1 rounded">Search</button>
            </form>
        </div>
    
        <div>
        <div class="grid grid-cols-4 ">
        
            <div *ngFor="let data of users" class="border border-black ml-16 mt-8 hover:drop-shadow-2xl cursor-pointer hover:scale-110  p-4 mr-4" (click)="repos(data.login)"
            style="height: 400px;">
            <img src="../../assets/download.png" *ngIf="!loaded" alt="user_img" class=" max-w-full rounded-lg" style="width: 400px;height: 310px;">
                <img src="{{data.avatar_url}}" *ngIf="loaded" alt="user_img" class=" max-w-full rounded-lg" style="width: 400px;height: 310px;">
                <p class="font-bold font-sans  text-2xl">
                    <app-profile class="font-serif"
                    [userId] = "data.login"
                    ></app-profile>
                </p>
               
                <p><span class=" underline decoration-sky-500 font-bold text-sm">Github.com/{{data.login}}</span></p>
            </div>
        </div>
</div>
</div>

